/* Setting */
.container {
  max-width: 600px;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 8px;
  padding-right: 8px;
}

header {
  background: linear-gradient(to top right, #2ac15b, #2b9aa8);

  .header-title {
    color: white;
    font-size: 18px;
  }
}

body {
  /*background: #f5f6f8;*/
  /* Padding top for top action menu */
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #555;
  background: #f6f6f6;
}

a,
a:hover,
a:active,
a:focus {
  color: black;
  text-decoration: none;
}

.main {
  padding-bottom: 69px;

  .container {
    padding: 0 20px;
  }
}

div.main .container > div {
  background: white;
}

.modal-dialog {
  /* need good time to study this */
  min-height: calc(100vh - 60px) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

/* Style class */

.filter-box {
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid whitesmoke;

  .title {
    padding: 4px 16px;
    color: white;
    background: #28384b;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 20px;
    }
  }

  .content {
    padding: 8px 0 8px 16px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 16px 8px 0;
      border-bottom: 1px solid #eaeaea;
    }

    .item:last-child {
      border-bottom: transparent;
    }

    .icon {
      font-size: 20px;
    }

    .check {
      font-size: 20px;
      &.checked span:before {
        color: #1b9072;
        content: '\e908';
      }
    }

    .input-filter {
      text-align: right;
      input {
        border: transparent;
        border-bottom: 1px solid #555;
        margin-right: 4px;
        text-align: right;
        max-width: 50%;

        &:focus {
          outline: transparent;
        }
      }
    }

  }

}

/* Style color size font */

.text-grey {
  color: #bfbfbf;
}

.text-blue {
  color: #148aff;
}

.text-red {
  color: #de342f;
}

.text-orange {
  color: #f48e14;
}

.text-green {
  color: #1fb08a;
}

.bg-white {
  background: white;
}

.bg-red {
  background: #de342f;
}

.bg-blue {
  background: #148aff;
}

.bg-grey {
  background: #b6b6b6;
}

.bg-orange {
  background: #f48e14;
}

.bg-green {
  background: #1fb08a;
}

.bg-dark-blue {
  background: #28384b;
}

.bg-0 {
  background: transparent !important;
  padding: 0;
}

.text-bold {
  font-weight: bold;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font- size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.border-top-1 {
  border-top: 1px solid lightgrey;
}

.border-left-1 {
  border-bottom: 1px solid grey;
}

.border-right-1 {
  border-bottom: 1px solid grey;
}

.border-bottom-1 {
  border-bottom: 1px solid grey;
}

.a-link {
  color: #1391ff;
  text-decoration: underline;
}

.a-link:hover {
  color: #2896ff;
}

/* ICON size */
.icon-size-14:before {
  font-size: 14px;
}

.icon-size-20:before {
  font-size: 20px;
}

.icon-black:before {
  color: black;
}

.icon-white:before {
  color: white;
}

.icon-size-32:before {
  font-size: 32px;
}

.icon-size-64:before {
  font-size: 64px;
}

/* Margin padding */
.mx16 {
  margin: 0 16px;
}

.my8 {
  margin: 8px 0;
}

.my16 {
  margin: 16px 0;
}

.px8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pxy16 {
  padding: 16px;
}

.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt56 {
  padding-top: 56px;
}

.pt59 {
  padding-top: 59px;
}

.pt67 {
  padding-top: 67px;
}

.pt100 {
  padding-top: 100px;
}

.pt112 {
  padding-top: 112px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb175 {
  padding-bottom: 175px;
}

.pb85 {
  padding-bottom: 85px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb53 {
  margin-bottom: 53px;
}

.mb141 {
  margin-bottom: 141px;
}

